<h1>Create New Post</h1>
<label>Title
  <input id="newTitle"
    type="text"
    style="border: 1px solid black; margin: 5px; display: block"
  />
</label>
<label>Content
  <textarea id="newContent"
    type="text"
    style="border: 1px solid black; margin: 5px; display: block"
  ></textarea>
</label>
<button style="border: 1px solid black; margin: 5px; display: block" id="btn-create">
    Create
</button>

<script src="/js/create-post.js"></script>