<h1>Create New Post</h1>
<label>Title
  <input
    type="text"
    style="border: 1px solid black; margin: 5px; display: block"
  />
</label>
<label>Content
  <textarea
    type="text"
    style="border: 1px solid black; margin: 5px; display: block"
  ></textarea>
</label>
<button style="border: 1px solid black; margin: 5px; display: block">
    Create
</button>