<h1>Dashboard</h1>
<div>
  {{#each posts as |post|}}
    <a
      href="/posts/{{id}}/edit"
      style="border: 1px solid black; display: block; margin: 10 px"
    >{{post.title}}</a>
  {{/each}}
  <a href="/posts/create">Create Post</a>
</div>