<div class="login-card">
    <h2 class="login">Login</h2>
    <form class="login-form">
        <label>Username
            <input type="text" id="user-login"/>
        </label>
        <label>Password
            <input type="password" id="password-login"/>
        </label>
        <button>Login!</button>
        <a href="">Sign up instead</a>
    </form>
</div>
<script src="../public/js/login.js"></script>