<div class="d-flex align-items-center justify-content-center">
  <div class="login-card card mt-5 w-50">
    <div class="card-body">
      <h2 class="login">Login</h2>
      <form class="login-form">
        <div class="mb-3">
          <label for="user-login" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="user-login"
            aria-describedby="user-login"
          />
        </div>
        <div class="mb-3">
          <label for="password-login" class="form-label">Password</label>
          <input type="password" class="form-control" id="password-login" />
        </div>
        <button id="btn-login" class="btn btn-primary">Login</button>
        <a href="/signup">Sign up instead</a>
      </form>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>