<div class="login-card">
    <h2 class="signUp">Sign Up</h2>
    <form class="signUp-form">
        <label>Username
            <input type="text" id="username-signUp"/>
        </label>
        <label>Password
            <input type="password" id="password-signUp"/>
        </label>
        <button>Sign Up!</button>
        <a href="/login">Log in instead</a>
    </form>
</div>