<div class="login-card">
    <h2 class="signUp">Sign Up</h2>
    <form class="signUp-form">
        <label>Username
            <input type="text" id="username-signup"/>
        </label>
        <label>Password
            <input type="password" id="password-signup"/>
        </label>
        <button id="btn-signup">Sign Up!</button>
        <a href="/login">Log in instead</a>
    </form>
</div>
<script src="/js/login.js"></script>